

<ch5-triggerview [ngStyle]="activeflag" gestureable="false" class="main-swiper" activeView="{{ rout.active }}"
  endless="false" style="margin: 0 0;" disableanimation="true">
  <ch5-triggerview-child style="width: 100vw;">
    <app-zumfh></app-zumfh>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-view7></app-view7>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-view9></app-view9>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;background: azure;">
    <app-view4></app-view4>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw; background: azure;">
    <app-view5></app-view5>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-view8></app-view8>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-fpzonecontrol></app-fpzonecontrol>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-loadselect></app-loadselect>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-scenesave></app-scenesave>
  </ch5-triggerview-child>

</ch5-triggerview>