<div>
    <p class="text">Select Scene</p>
    <div class="scenetile">
        <ch5-button type="primary" class="scnbtn" stretch="both" receivestatelabel="Scenes.ScenesName0" size="regular" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb0" sendEventOnClick="Scenes.Scenes0" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="scnbtn" stretch="both" receivestatelabel="Scenes.ScenesName1" size="regular" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb1" sendEventOnClick="Scenes.Scenes1" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary"  class="scnbtn" stretch="both" receivestatelabel="Scenes.ScenesName2" size="regular" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb2" sendEventOnClick="Scenes.Scenes2" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="scnbtn" stretch="both" receivestatelabel="Scenes.ScenesName3" size="regular" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb3" sendEventOnClick="Scenes.Scenes3" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="scnbtn" stretch="both" receivestatelabel="Scenes.ScenesName4" size="regular" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb4" sendEventOnClick="Scenes.Scenes4" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="scnbtn"
            stretch="both" receivestatelabel="Scenes.ScenesName5" size="regular" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb5" sendEventOnClick="Scenes.Scenes5" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="scnbtn"
            stretch="both" receivestatelabel="Scenes.ScenesName6" size="regular" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb6" sendEventOnClick="Scenes.Scenes6" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="scnbtn"
            stretch="both" receivestatelabel="Scenes.ScenesName7" size="regular" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb7" sendEventOnClick="Scenes.Scenes7" mat-dialog-close>
        </ch5-button>
    </div>



<!-- For Future rename
    <div class="scenetile ls">
        <ch5-button type="primary" class="editname" stretch="both" receivestatelabel="Scenes.ScenesName0" size="x-small" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb0" sendEventOnClick="Scenes.Scenes0" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="editname" stretch="both" receivestatelabel="Scenes.ScenesName1" size="x-small" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb1" sendEventOnClick="Scenes.Scenes1" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary"  class="editname" stretch="both" receivestatelabel="Scenes.ScenesName2" size="x-small" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb2" sendEventOnClick="Scenes.Scenes2" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="editname" stretch="both" receivestatelabel="Scenes.ScenesName3" size="x-small" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb3" sendEventOnClick="Scenes.Scenes3" mat-dialog-close>
        </ch5-button>
        <ch5-button type="primary" class="editname" stretch="both" receivestatelabel="Scenes.ScenesName4" size="x-small" shape="rounded-rectangle"
            receivestateselected="Scenes.Scenefb4" sendEventOnClick="Scenes.Scenes4" mat-dialog-close>
        </ch5-button>
    </div> -->
</div>