<div style="margin: 50px;">
    <p style="font-size: 1.5em;">Are you sure you want to save the current levels to the selected scene ?</p>
    <div class="contain" style="    display: flex;
    justify-content: space-around;">
        <button class="buttons" style="background: #28ff0e42;" 
        mat-fab (click)="tick()" mat-dialog-close>
        <mat-icon class="fa fa-check"></mat-icon>
        </button>

        <button class="buttons" style="background: #ff000014;" mat-fab mat-dialog-close>
            <mat-icon class="fa fa-times"></mat-icon>
        </button>

    </div>
</div>