
<div class="contain">
    <div class="example-boundary">    <button style="background-color: #ffffff;" class="buttons" mat-fab (click)="onclick()">
        <mat-icon class="fas fa-lock fa-2x"></mat-icon>
    </button>
    
        <!-- <button style="float: right; background-color: #ffffff;" class="buttons" mat-fab (click)="save()">
            <mat-icon>
                <p>Save</p>
            </mat-icon>
        </button>
         -->
        <div class="example-box" *ngFor="let item of items; index as i;" cdkDragBoundary=".example-boundary" cdkDrag
            [cdkDragStartDelay]="tdelay.active" (cdkDragEnded)="onDragEnded($event,i)" [cdkDragFreeDragPosition]="positionarray[i+1]"
            (click)="controlpop(i)">

            <ch5-button label="Area" receiveStateSelected="Area.AreaSelected{{i}}" receiveStateLabel="Area.AreaName{{i}}" class="AreaSelect zonebtn" type="primary" stretch="both"
            shape="rounded-rectangle">
          </ch5-button>    
        
        
        </div>
    </div>
    </div>