<div class="item3">
    <p class="text">4 Number User Passcode</p>
    <ch5-textinput style="margin: 1rem;" class="input" type="text" sendeventonchange="350" receivestatevalue="350">
    </ch5-textinput>
    <button (click)="click1()" style="margin: 1rem;" class="buttons" mat-fab mat-dialog-close>
        <mat-icon class="fa fa-check"></mat-icon>
    </button>
    <p class="text">4 Number Admin Passcode</p>
    <ch5-textinput style="
    margin: 1rem;" class="input" type="text" sendeventonchange="351" receivestatevalue="351">
    </ch5-textinput>
    <button style="margin: 1rem;" class="buttons" mat-fab mat-dialog-close (click)="click2()">
        <mat-icon class="fa fa-check"></mat-icon>
    </button>
</div>